<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="soberapp.vis.ethz.ch.soberapp" >
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.orm.SugarApp"
        >

        <!-- Sugar ORM goes here  -->
        <meta-data android:name="DATABASE" android:value="soberapp.db" />
        <!-- Sugar ORM ends here  -->

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IntroActivity"
            android:label="@string/title_activity_intro"
            android:parentActivityName=".MainActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="soberapp.vis.ethz.ch.soberapp.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="soberapp.vis.ethz.ch.soberapp.MainActivity" />
        </activity>
        <activity
            android:name=".AddDrinkActivity"
            android:label="@string/title_activity_add_drink"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="soberapp.vis.ethz.ch.soberapp.MainActivity" />
        </activity>
    </application>

</manifest>
